img {
    height: 250px;
    margin-bottom: 10px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 25px;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}